*{
    padding: 0;
    margin: 0;
}
body{
    background-color: rgb(0, 0, 0, 0.8);

}
.menus{
    display: flex;
    justify-content: space-between;
    line-height: 0%;
    padding-bottom: 50px;
    background-color: black;
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    
}
.header h1{
    color: white;
    font-size: 2em;
    font-weight: bold;
    padding-left: 30px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    padding-top: 35px;
}
.header h1:hover{
    transform: scale(1.1);
}

.menu ul{
    display: flex;
    padding-top: 35px;
}
.menu ul li{
    list-style: none;
    color: white;
    font-size: 1.2em;
    font-weight: 500;
    margin-right: 60px;
}
.menu a{
    text-decoration: none;
    transition: 0.3s ease-in-out;
}
.menu a:hover{
    background-color: blue;
    transform: scale(1.1);
}
.blck{
    top: 10rem;
    text-align: center;

}
.image{
    border-radius: 50%;
}
.image img{
    width: 250px;
    height: 250px;
    border: 0;
    border-radius: 50%; 
    box-shadow: 0 0 40px greenyellow;
    cursor: pointer;
    transition: 0.9s ease-in-out;
    margin-top: 150px;
}
.image img:hover{
    box-shadow: 0 0 50px greenyellow;
    box-shadow: 0 0 100% greenyellow;
    transform: scale(1.1)translateY(-5px);
    box-shadow: 0 0 90px greenyellow;
}

.hana h1{
    font-size: 2.5em;
    font-weight: bold;
    color: white;
    padding-top: 7px;
}
.hana h1 span{
    color: greenyellow;
}
.hana h2{
    font-size: 1.5em;
    font-weight: bold;
    color: white;
    padding-top: 5x;
}
.hana h2 span{
    color: greenyellow;
}
.prag{
    color: white;
    padding-top: 5px;
}
.icons{
    display: flex;
    gap: 25px;
    margin-top: 30px;
    justify-content: center;
}
.icons a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 2.5rem;
    height: 2.5rem;
    background-color: transparent;
    border: 0.1rem solid greenyellow;
    font-size: 1.5em;
    border-radius: 50%;
    color: greenyellow;
    transition: 0.3s ease-in-out;
}
.icons a:hover{
    color: white;
    transform: scale(1.1)translateY(-5px);
    box-shadow: 0 0 25px greenyellow;
    background-color: black;
}
.ptn{
    padding: 0.4rem 0.5rem;
    background-color: greenyellow;
    border-radius: 4rem;
    font-size: 1em;
    color: white;
    border: 2px solid transparent;
    letter-spacing: 0.1rem;
    transition: 0.3s ease-in-out;
    cursor: pointer;
    margin-left: 615px;
    margin-top: 15px;
}
.ptn:hover{
    transform: scale(1.0s);
    box-shadow: 0 0 25px greenyellow;
}
.item{
    display: flex;
    justify-content: space-evenly;
    margin-top: 150px;
}
.p h1{
    color: white;
    font-size: 2.5em;
    font-weight: bold;
}
.p h1 span{
    color: greenyellow;
}
.p h1 span:hover{
    text-shadow: 25px greenyellow;
    
}
.p h2{
    font-size: 1.2em;
    font-weight: bold;
    color: greenyellow;
    padding-top: 5px;
}
.p p{
    color: white;
    padding-top: 5px;
}

.ptnn{
    padding: 0.8rem 1.5rem;
    background-color: greenyellow;
    border-radius: 4rem;
    font-size: 1em;
    color: white;
    border: 2px solid transparent;
    letter-spacing: 0.1rem;
    transition: 0.3s ease-in-out;
    cursor: pointer;
    margin-top: 10px;
}
.ptnn:hover{
    transform: scale(1.0s);
    box-shadow: 0 0 25px greenyellow;
}
.imge{
    border-radius: 50%;
}
.imgg img{
    width: 250px;
    height: 250px;
    border: 0;
    border-radius: 50%; 
    box-shadow: 0 0 10px greenyellow;
    cursor: pointer;
    transition: 0.9s ease-in-out;
}
.imgg img:hover{
    box-shadow: 0 0 50px greenyellow;
    box-shadow: 0 0 100% greenyellow;
    transform: scale(1.1)translateY(-5px);
    box-shadow: 0 0 90px greenyellow;
}
.service h1{
    color: white;
    font-size: 3em;
    font-weight: bold;
    text-align: center;
    padding-top: 100px;
}
.team{
    display: flex;
    gap: 10px;
    margin-left: 45px;
    margin-top: 30px;
}
.box1{
    background-color: greenyellow;
    width: 360px;
    height: 150px;
    padding-left: 50px;
    padding-top: 36px;
    border: 0;
    border-radius: 20px;
}
.box1:hover{
    background-color: white;
}

.box1 h3{
    font-size: 2em;
    font-weight: bold;
    color: black;
    padding-bottom: 15px;
}
.box2{
    background-color: greenyellow;
    width: 360px;
    height: 150px;
    padding-left: 50px;
    padding-top: 36px;
    border: 0;
    border-radius: 20px;
    margin-top: 10px;
}
.box2:hover{
    background-color: white;
}

.box2 h3{
    font-size: 2em;
    font-weight: bold;
    color: black;
    padding-bottom: 15px;
}
.box3{
    background-color: greenyellow;
    width: 360px;
    height: 150px;
    padding-left: 50px;
    padding-top: 36px;
    border: 0;
    border-radius: 20px;
}
.box3:hover{
    background-color: white;
}

.box3 h3{
    font-size: 2em;
    font-weight: bold;
    color: black;
    padding-bottom: 15px;
}
.box4{
    background-color: greenyellow;
    width: 360px;
    height: 150px;
    padding-left: 50px;
    padding-top: 36px;
    border: 0;
    border-radius: 20px;
    margin-top: 10px;
}
.box4:hover{
    background-color: white;
}

.box4 h3{
    font-size: 2em;
    font-weight: bold;
    color: black;
    padding-bottom: 15px;
}
.box5{
    background-color: greenyellow;
    width: 360px;
    height: 150px;
    padding-left: 50px;
    padding-top: 36px;
    border: 0;
    border-radius: 20px;
}
.box5:hover{
    background-color: white;
}

.box5 h3{
    font-size: 2em;
    font-weight: bold;
    color: black;
    padding-bottom: 15px;
}
.box6{
    background-color: greenyellow;
    width: 360px;
    height: 150px;
    padding-left: 50px;
    padding-top: 36px;
    border: 0;
    border-radius: 20px;
    margin-top: 10px;
}
.box6:hover{
    background-color: white;
}

.box6 h3{
    font-size: 2em;
    font-weight: bold;
    color: black;
    padding-bottom: 15px;
}
.form{
    color: white;
    font-size: 1.7em;
    font-weight: bold;
    text-align: center;
    margin-top: 80px;
}
.form span{
    color: greenyellow;
}
.table{
    text-align: center;
    margin-top: 15px;
}
.lable1 input{
    width: 420px;
    height: 30px;
    border: 2px solid greenyellow;
    border-radius: 4px;
    background-color: transparent;
    color: rgba(128, 128, 128, 0.849);
}
.lable1 input:hover{
    color: white;
}
.lable2 input{
    width: 420px;
    height: 30px;
    border: 2px solid greenyellow;
    border-radius: 4px;
    background-color: transparent;
    color: rgba(128, 128, 128, 0.849);
    margin-top: 13px;
}
.lable2 input:hover{
    color: white;
}
.lable3 input{
    width: 420px;
    height: 30px;
    border: 2px solid greenyellow;
    border-radius: 4px;
    background-color: transparent;
    color: rgba(128, 128, 128, 0.849);
    margin-top: 13px;
}
.lable3 input:hover{
    color: white;
}
.lable4 input{
    width: 420px;
    height: 30px;
    border: 2px solid greenyellow;
    border-radius: 4px;
    background-color: transparent;
    color: rgba(128, 128, 128, 0.849);
    margin-top: 13px;
}
.lable4 input:hover{
    color: white;
}
.lable5 input{
    width: 420px;
    height: 120px;
    border: 2px solid greenyellow;
    border-radius: 4px;
    background-color: transparent;
    color: rgba(128, 128, 128, 0.849);
    margin-top: 13px;
    padding-top: 0;
}
.lable5 input:hover{
    color: white;
}
.ptnnn{
    padding: 0.4rem 2rem;
    background-color: greenyellow;
    border-radius: 1rem;
    font-size: 1em;
    color: white;
    border: 2px solid transparent;
    letter-spacing: 0.1rem;
    transition: 0.3s ease-in-out;
    cursor: pointer;
    margin-top: 20px;
}
.ptnnn:hover{
    transform: scale(1.0s);
    box-shadow: 0 0 25px greenyellow;
}
.footer{
    background-color: black;
    width: 100%;
    height: 200px;
}
.iconss{
    display: flex;
    gap: 25px;
    margin-top: 190px;
    justify-content: center;
    padding-top: 25px;
}
.iconss a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 2.5rem;
    height: 2.5rem;
    background-color: transparent;
    border: 0.1rem solid greenyellow;
    font-size: 1.5em;
    border-radius: 50%;
    color: greenyellow;
    transition: 0.3s ease-in-out;
}
.iconss a:hover{
    color: white;
    transform: scale(1.1)translateY(-5px);
    box-shadow: 0 0 25px greenyellow;
    background-color: black;
}
.menuu ul{
    display: flex;
    gap: 40px;
    padding-top: 20px;
    margin-left: 400px;
}
.menuu ul li{
    list-style: none;
    color: white;
    font-size: 1.2em;
    font-weight: 500;
}
.menuu a{
    text-decoration: none;
    transition: 0.3s ease-in-out;
}
.menuu a:hover{
    transform: scale(1.1);
}
.footer p{
    color: white;
    margin-top: 50px;
    margin-left: 520px;
}
@media screen and ( max-width: 390px){
    .menu ul{
        display: none;
    }
    .item{
        display: block;
        margin-left: 20px;
        margin-top: 50px;
    }
    .item img{
        margin-top: 40px;
        margin-left: 50px;
    }
    .team{
        display: block;
        margin-left: 10px;
    }
    .box1{
        width: 320px;
        height: 150px;
    }
    .box2{
        width: 320px;
        height: 150px;
        margin-top: 30px;
    }
    .box3{
        width: 320px;
        height: 150px;
        margin-top: 30px;
    }
    .box4{
        width: 320px;
        height: 150px;
        margin-top: 30px;
    }
    .box5{
        width: 320px;
        height: 150px;
        margin-top: 30px;
    }
    .box6{
        width: 320px;
        height: 150px;
        margin-top: 30px;
    }
    .lable1 input{
        width: 320px;
    }
    .lable2 input{
        width: 320px;
    }
    .lable3 input{
        width: 320px;
    }
    .lable4 input{
        width: 320px;
    }
    .lable5 input{
        width: 320px;
    }
    .lable6 input{
        width: 320px;
    }
    .footer{
        background-color: black;
        width: 100%;
        height: 300px;
    }
    .footer p{
        margin-left: 80px;
    }
    .menuu ul{
        display: block;
        margin-left: 150px;
        margin-top: 30px;
    }
}







